<div class="d-flex flex-column align-items-center min-vh-100 bg-dark text-white">
    <div class="d-flex m-5">
        <h1><strong>Welcome to "I CAN HAS TOKEN" Token creator!</strong></h1>
    </div>
    <div class="d-flex flex-column flex-md-row mb-5 border rounded-1 h-100 features-items p-4" style="background-color:black!important">
        <img src="img/ICANHASTOKEN.jpg" style="height: 50vh;" />
        <div class="d-flex flex-column mb-5 px-3">
            <p class="h4 mb-5"><strong>Yep, with this application you can create your own customized token.</strong></p>
            <ul>
                <li class="p-2">No registration, email/phone, or any personal info required.</li>
                <li class="p-2">We do not (and can not) collect or share any of your data. This application runs locally in your browser.</li>
                <li class="p-2">You are the owner of your own token contract. We provide You with the contract code and the ABI, so Your token contract can be registered in exchanges and explorers.</li>
                <li class="p-2">Support for the Ethereum, Binance, and testchains (more incoming on demand).</li>
                <li class="p-2">You can deploy ERC20, BEP20, or any compatible token using the industry standard openzeppelin library. (ERC721, ERC777, ERC1155 coming soon!)</li>
                <li class="p-2">We provide a token management interface for free, so you can mint, burn, etc. on your contract more easily.</li>
                <li class="p-2"><strong>Fair, Pay-What-You-Want pricing with a minimum commission of 1 wei for any ERC20 token variant.</strong> (Unlike the other "Free" ERC20 Creators)</li>
            </ul>
        </div>
    </div>
    <div class="btn-group-vertical d-flex m-auto" style="background-color:black!important">
        <MetamaskLoginButton Text="Login with MetaMask" Class="btn btn-outline-warning btn-lg text-warning font-weight-bold"></MetamaskLoginButton>
        <button type="button" class="btn btn-outline-secondary btn-lg text-secondary font-weight-bold" disabled>
            <span>Other login methods coming soon!</span>
        </button>
    </div>
    <div class="d-flex mt-5">
        <p class="text-center">
            By logging in, you are agreeing to the Terms of Service, which are:<br />
            The "I CAN HAS TOKEN" Token creator and its author are free of any liability regarding the tokens built with this application.<br />
            The tokens built with this application, their use, their teams and projects are in no connection with this application or its author.<br />
        </p>
    </div>
</div>

